<div class="courses-containers">
  <div class="courses-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Course List </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item
            *ngFor="let course of courses$ | async"
            (click)="selectCourse(course)"
          >
            <h3 matListItemTitle>{{ course.title | titlecase }}</h3>
            <p matListItemLine>{{ course.description }}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="course-details">
    <app-course-details
      [selectedCourse]="selectedCourse"
      (saveCourse)="saveCourse($event)"
      (updateCourse)="updateCourse($event)"
      (deleteCourse)="deleteCourse($event)"
      (resetCourse)="reset()"
    >
    </app-course-details>
  </div>
</div>
